.displayedsquare{

    display: flex;
    margin: 5% 10% 10% 30%;
}
#div-1{
    background-color: lime;
    width: 50px;
    height: 50px;
}
#div-2{
    background-color: violet;
    width: 50px;
    height: 50px;
    padding: 10%;
}
#div-3{
    background-color: orange;
    width: 50px;
    height: 50px;
}